body {
    display: block;
    max-width: 50em;
    margin: auto;
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover; }

.pic,
.tab_title,
#ico_menu,
input[type="button"]{
    cursor: pointer;
}

#dv_header_title {
    background-size: 3em;
}
