.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    /* width: 120px; */
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* left: 50%; */
    /* margin-left: -60px; */
    opacity: 0;
    transition: opacity 0.3s;
    padding: 8px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .bt_item_info.tooltip .tooltiptext {
    width:12rem;
    left: 0;
    text-align: right;
    direction: rtl;
  }

  .bt_item_info.tooltip .tooltiptext::after {
    left: 15%;
  }

  .tooltiptext>span {
    text-decoration: underline;
  }

  .bt_item_delete.tooltip .tooltiptext {
    left: -5px;
  }
  